{% extends "layout.njk" %}

{% block content %}

    <div class="wrapper">
        <img src="{{ company.img_company }}" alt="Imagem de {{ company.name }}">
        <h1>{{ company.name }}</h1>
        <h2>{{ company.title }}</h2>
        <p>{{ company.description }}</p>
        <ul>
        {% for tech in company.techs %}
            <li>{{ tech.name }}</li>
        {% endfor %}
        </ul>
    </div>

    <footer>
        <div class="links links-footer">
        {% for link in company.links %}
            <a href="{{ link.url }}">{{ link.name}}</a>

        {% endfor %}
        </div>
    </footer>

{% endblock %}