{% extends "layout.njk" %}

    {% block head %}
        <title>Melhores postagens - Rocketseat</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>{{items.content}}</h1>
    </div>
    <section>
        <div class="post">
            <div class="card" id="{{ items.id }}">
                <div class="card__post-container">
                     <iframe src="https://blog.rocketseat.com.br/{{items.id}}" frameborder="0"></iframe>
                </div>
                <div class="card__content">
                    <p>{{ item.content }}</p>
                </div>
                <div class="card__info">
                    <p class="author">
                        <span class="material-icons">create</span> {{ items.author }}
                    </p>
                    <p class="time">
                        <span class="material-icons">alarm</span> {{ items.time }}
                    </p>
                </div>
            </div>

        </div>
    </section> 

{% endblock %}